.contact-box {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 15vh;
    width: 40vw;
    color: black;
    background-color: rgb(206, 206, 206); 
}

.contact {
    margin: 2vw;
}

.button-container {
    padding: 4vh;
}